/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --nyanza: #d8f3dcff;
    --celadon: #b7e4c7ff;
    --celadon-2: #95d5b2ff;
    --mint: #74c69dff;
    --mint-2: #52b788ff;
    --sea-green: #40916cff;
    --dartmouth-green: #2d6a4fff;
    --brunswick-green: #1b4332ff;
    --dark-green: #081c15ff;

    --background-color: #d8f3dcff;
    --background-color-transparent: #d8f3dca8;
    --surface-color: #b7e4c7ff;
    --primary-color: #74c69dff;
    --secondary-color: #52b788ff;
    --text-color: #081c15ff;
    --text-color-transparent: #081c15a8;
    --accent-color: #40916cff;
    --border-color: #1b4332ff;
    --hover-color: #2d6a4fff;
}

body {
    background-color: var(--nyanza);
    background-image: radial-gradient(var(--celadon) 1px, transparent 1px);
    background-size: 20px 20px;
    height: 100vh;
    transition: background-color 0.5s ease, color 0.5s ease, background-image 0.5s ease;
}

/* Modo Oscuro */
body.dark-mode {
    --background-color: #081c15ff;
    --background-color-transparent: #081c15a8;
    --surface-color: #1b4332ff;
    --primary-color: #52b788ff;
    --secondary-color: #95d5b2ff;
    --text-color: #d8f3dcff;
    --text-color-transparent: #d8f3dca8;
    --accent-color: #40916cff;
    --border-color: #2d6a4fff;
    --hover-color: #74c69dff;

    background-color: var(--dark-green);
    background-image: radial-gradient(var(--brunswick-green) 1px, transparent 1px);
    background-size: 25px 25px;
    color: var(--nyanza);
    transition: background-color 0.5s ease, color 0.5s ease, background-image 0.5s ease;
}

.theme-mode-desktop, .theme-mode-mobile {
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* theme switcher */
.theme-mode-desktop input, .theme-mode-mobile input {
    width: 0;
    height: 0;
    visibility: hidden;
}

/* Label del toggle de tema */
.theme-mode-desktop label, .theme-mode-mobile label {
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    background-color: var(--surface-color);
    border-radius: 30px;
    box-shadow: inset 0px 5px 15px var(--background-color), inset 0px -5px 15px var(--surface-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Círculo deslizante dentro del toggle */
.theme-mode-desktop label:after, .theme-mode-mobile label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: var(--primary-color); /* Se usa el color primario para el círculo */
    border-radius: 50px;
    box-shadow: 0px 5px 10px var(--border-color);
    transition: 0.5s;
}

/* Cambiar el color de fondo cuando se selecciona el tema oscuro */
.theme-mode-desktop input:checked + label, .theme-mode-mobile input:checked + label {
    background-color: var(--hover-color); /* Color de hover más oscuro cuando está activado */
}

/* Desplazamiento del círculo en el toggle */
.theme-mode-desktop input:checked + label::after, .theme-mode-mobile input:checked + label::after {
    left: 57px;
    transform: translateX(-100%);
    background-color: var(--accent-color); /* Se cambia a un color de acento para resaltar el círculo */
}

/* Efecto cuando el botón se presiona */
.theme-mode-desktop label:active::after, .theme-mode-mobile label:active::after {
    width: 30px;
}

/* Iconos sol y luna */
.theme-mode-desktop label .sun, .theme-mode-desktop label .moon, .theme-mode-mobile label .sun, .theme-mode-mobile label .moon {
    position: absolute;
    width: 20px;
    height: 20px;  /* Ajuste de tamaño */
    top: 50%; /* Centrado vertical */
    transform: translateY(-50%); /* Asegura que el icono esté centrado verticalmente */
    z-index: 2;
    transition: 0.3s;
}

/* Posicionar el icono del sol y luna */
.theme-mode-desktop label .sun, .theme-mode-mobile label .sun {
    left: 5px;
}

.theme-mode-desktop label .moon, .theme-mode-mobile label .moon {
    right: 5px; /* Luna con color secundario en modo claro */
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.title {
    color: var(--text-color);
    font-size: 38px;
    text-align: center;
}

h2.title span {
    color: var(--accent-color);
}

button:hover,
.btn-send input:hover {
    box-shadow: 0px 0px 8px var(--border-color);
    transform: scale(1.05);
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    font-size: 22px;
    color: var(--text-color);
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/* HEADER */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    transition: .2s
}

header nav.menu-desktop a:hover {
    color: var(--hover-color);
    transform: scale(1.1);
}

header nav ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

header .logo img {
    width: 150px;
    height: auto;
}

/* MENU MOBILE */

.btn-open-menu {
    display: none;
}

.btn-open-menu i {
    color: var(--primary-color);
    font-size: 40px;
}

.menu-mobile {
    background-color: var(--background-color);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-mobile div.theme-mode-mobile {
    padding: 20px 10%;
}

.menu-mobile.open-menu {
    width: 70%;
}

.menu-mobile.open-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav ul li a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
}

.menu-mobile .btn-close  {
    cursor: pointer;
    padding: 20px 5%;
}

.menu-mobile .btn-close i {
    color: var(--primary-color);
    font-size: 30px;
}

.overlay-menu {
    background-color: var(--surface-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}


/* MAIN */
/* TOP SECTION */
section.top-of-site {
    padding: 40px 4%;
}

section.top-of-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

div.img-top-site img {
    width: 500px;
    height: 500px;
}

.top-of-site h1 {
    color: var(--text-color);
    font-size: 42px;
    line-height: 40px;
}

.top-of-site .txt-top-site h1 span {
    color: var(--accent-color);
}

.top-of-site .txt-top-site p {
    color: var(--text-color);
    margin: 40px 0;
}

.top-of-site .img-top-site img {
    position: relative;
    animation: flotar 2s ease-in-out infinite alternate;
}

@keyframes flotar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESPECIALITIES STYLE*/

section.specialities {
    padding: 40px 4%;
}

section.specialities .flex {
    gap: 60px
}

.specialities .specialities-box {
    color: var(--text-color);
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.specialities .specialities-box p {
    text-align: justify;
}

.specialities .specialities-box i {
    font-size: 70px;
    color: var(--primary-color);
}

.specialities .specialities-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.specialities .specialities-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--border-color);
}

/* ABOUT STYLE */
section.about {
    padding: 80px 4%;
}

section.about .flex {
    align-items: center;
    gap: 60px;
}

.about .about-img img {
    width: 400px;
    height: 590px;
    border-radius: 15px;
}

.about .about-txt {
    color: var(--text-color);
}

.about .about-txt h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.about .about-txt h2 span {
    color: var(--accent-color);
    display: block;
}

.about .about-txt p {
    margin: 20px 0;
    text-align: justify;
}


/* PORTFOLIO STYLE */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px var(--border-color);
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    border-radius: 40px;
    cursor: pointer;
    background-size: cover;
    background-position: 100% 0;
    transition: .8s;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-transparent);
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}


/* CONTACT STYLE */

section.form {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: var(--surface-color);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 18px;
}


form input::placeholder,
form textarea::placeholder {
    color: var(--text-color-transparent);
}

form textarea {
    resize: none;
    max-height: 200px;
}

.btn-send {
    margin-top: 20px;
    text-align: center;
}

.btn-send input[type=submit] {
    width: 170px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* FOOTER STYLE */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px var(--border-color);
}

footer a img {
    width: 150px;
    height: 150px;
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

footer .line-footer {
    padding: 20px 0;
}

.borde {
    border-top: 2px solid var(--primary-color);
}

footer .line-footer p i {
    color: var(--primary-color);
    font-size: 22px;
}

footer .line-footer p a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

footer .logo-footer img {
    width: 130px;
    height: auto;
}

/** MEDIA QUERIES **/

@media screen and (max-width: 1120px) {

    /* GENERAL */
    .flex {
        flex-direction: column;
    }

    h2.title {
        font-size: 34px;
        line-height: 34px;
    }

    /* TOP SECTION */
    .top-of-site h1 {
        font-size: 32px;
    }

    section.top-of-site {
        padding: 20px 8%;
    }

    section.top-of-site .flex {
        gap: 20px;
    }


    .top-of-site .img-top-site img {
        display: none;
    }

    /* HEADER */
    .menu-desktop,
    .btn-contact {
        display: none;
    }
    
    .btn-open-menu {
        display: block;
        cursor: pointer;
        position: fixed;
        top: 40px;
        right: 4%;
        z-index: 90000;
    }

    .theme-mode-desktop{
        display: none;
    }

    header .logo {
        align-items: center;
    }

    /* SPECIALITIES */
    section.specialities {
        padding: 40px 8%;
    }

    /* ABOUT */
    section.about {
        padding: 40px 8%;
    }

    section.about .about-txt h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .about .about-img img {
        width: 100%;
        margin: 0 auto;

    }

    /* PORTFOLIO */

    section.portfolio {
        padding: 40px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* FOOTER*/

    footer .flex {
        flex-direction: column;
        gap: 0px;
    }

    footer .line-footer {
        text-align: center;
    }

    footer .logo-footer img {
        width: 100px;
        margin: -30px 0px 10px 20px;
    }
}
